.block_tabs {
    padding-top: vw(48);
    padding-bottom: vw(48);
    @media all and (max-width: 1023px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: vw(24);
        background: var(--white);
        border-radius: 10px;
        padding: vw(40);
        @media all and (max-width: 1023px) {
            padding: 20px;
            margin-bottom: 20px;
            flex-direction: column;
        }
    }
    &__title {
        width: calc(50% - vw(12));
        font-family: var(--second-family);
        font-weight: 400;
        font-size: vw(82);
        line-height: 100%;
        text-transform: uppercase;
        color: var(--black);
        span {
            color: var(--red);
        }
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 0px;
            font-size: 40px;
        }
    }
    &__text {
        width: calc(50% - vw(12));
        font-family: var(--font-family);
        font-weight: 400;
        font-size: vw(18);
        line-height: 120%;
        color: var(--black);
        @media all and (max-width: 1023px) {
            font-size: 15px;
            width: 100%;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        width: calc(50% - vw(12));
        margin-bottom: vw(24);
        &.isActive {
            .block_tabs__tit {
                &:after {
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12H18' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
                }
            }
            .block_tabs__txt {
                display: block;
            }
        }
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__tit {
        border-radius: 10px;
        padding: vw(24);
        background: var(--white);
        font-family: var(--second-family);
        font-weight: 400;
        font-size: vw(32);
        line-height: 100%;
        text-transform: uppercase;
        color: var(--black);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        @media all and (max-width: 1023px) {
            padding: 20px;
            font-size: 30px;
        }
        &:after {
            content: '';
            background-color: var(--red);
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12H18' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M12 18V6' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: vw(24);
            border-radius: 10px;
            width: vw(48);
            height: vw(48);
            @media all and (max-width: 1023px) {
                width: 40px;
                height: 40px;
                background-size: 18px;
            }
        }
    }
    &__txt {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: vw(16);
        display: none;
        line-height: 120%;
        color: var(--black);
        background: var(--white);
        border-radius: 10px;
        padding: vw(24);
        margin-top: vw(12);
        @media all and (max-width: 1023px) {
            font-size: 16px;
            margin-top: 12px;
            padding: 20px;
        }
        p {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}