.block_rev {
    padding-top: vw(48);
    padding-bottom: vw(48);
    @media all and (max-width: 1023px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__in {
        position: relative;
    }
    &__top {
        display: flex;
        align-items: flex-end;
        margin-bottom: vw(32);
        @media all and (max-width: 1023px) {
            flex-direction: column;
            margin-bottom: 20px;
        }
    }
    &__title {
        width: calc(50% - vw(12));
        font-family: var(--second-family);
        font-weight: 400;
        font-size: vw(82);
        line-height: 100%;
        text-transform: uppercase;
        color: var(--black);
        span {
            color: var(--red);
        }
        @media all and (max-width: 1023px) {
            width: 100%;
            font-size: 40px;
        }
    }
    &__text {
        width: 100%;
        max-width: vw(620);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: vw(18);
        line-height: 120%;
        color: var(--black);
        @media all and (max-width: 1023px) {
            font-size: 15px;
            max-width: 100%;
        }
    }
    &__buttons {
        display: inline-flex;
        border-radius: 10px;
        padding: 4px;
        background: var(--white);
        margin-bottom: vw(24);
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
        }
    }
    &__button {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: vw(16);
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
        color: var(--black);
        border-radius: 10px;
        padding: vw(20) vw(24);
        @media all and (max-width: 1023px) {
            padding: 15px;
            font-size: 15px;
        }
        &.isActive {
            background: var(--black);
            color: var(--white);
        }
    }
    &__slider {
        width: 100%;
        left: 0;
        right: 0;
        transition: unset;
    }
    .slick-track {
        margin-left: vw(-12);
        margin-right: vw(-12);
        @media all and (max-width: 1023px) {
            margin-left: -12px;
            margin-right: -12px;
        }
        @media all and (max-width: 680px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .slick-slide {
        margin-left: vw(12);
        margin-right: vw(12);
        @media all and (max-width: 1023px) {
            margin-left: 12px;
            margin-right: 12px;
        }
        @media all and (max-width: 680px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .slick-prev, .slick-next {
        width: vw(64);
        height: vw(64);
        border: 0;
        box-shadow: 0 12px 44px 0 rgba(103, 119, 159, 0.1);
        background: var(--white) url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5303 5.46967C10.8232 5.76256 10.8232 6.23744 10.5303 6.53033L5.81066 11.25H20C20.4142 11.25 20.75 11.5858 20.75 12C20.75 12.4142 20.4142 12.75 20 12.75H5.81066L10.5303 17.4697C10.8232 17.7626 10.8232 18.2374 10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303L3.46967 12.5303C3.17678 12.2374 3.17678 11.7626 3.46967 11.4697L9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967Z' fill='%23191B23' /%3E%3C/svg%3E") 50% no-repeat;
        background-size: vw(24) !important;
        border-radius: 12px;
        font-size: 0;
        position: absolute;
        cursor: pointer;
        top: vw(-90);
        @media all and (max-width: 1023px) {
            width: 40px;
            height: 40px;
            background-size: 20px !important;
        }
        &:hover {
            background: var(--red) url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5303 5.46967C10.8232 5.76256 10.8232 6.23744 10.5303 6.53033L5.81066 11.25H20C20.4142 11.25 20.75 11.5858 20.75 12C20.75 12.4142 20.4142 12.75 20 12.75H5.81066L10.5303 17.4697C10.8232 17.7626 10.8232 18.2374 10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303L3.46967 12.5303C3.17678 12.2374 3.17678 11.7626 3.46967 11.4697L9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967Z' fill='%23ffffff' /%3E%3C/svg%3E") 50% no-repeat;

        }
    }
    .slick-prev {
        right: vw(72);
        @media all and (max-width: 1023px) {
            right: 50px;
        }
    }
    .slick-next {
        right: 0;
        transform: rotate(-180deg);
    }
    &__block {
        overflow: hidden;
        position: relative;
        padding: vw(16);
        display: flex !important;
        align-items: flex-end;
        min-height: vw(450);
        border-radius: 10px;
        color: var(--black);
        text-decoration: none;
        cursor: pointer;
        * {
            pointer-events: none;
        }
        @media all and (max-width: 1023px) {
            min-height: 450px;
            padding: 15px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            inset: 0;
        }
    }
    &__info {
        border-radius: 10px;
        position: relative;
        z-index: 2;
        width: 100%;
        padding: vw(20);
        background: var(--white);
        padding-right: vw(80);
        @media all and (max-width: 1023px) {
            padding: 20px;
            padding-right: 80px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            width: vw(56);
            height: vw(56);
            margin-top: vw(-28);
            right: vw(20);
            background: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_2014_502)'%3E%3Crect width='56' height='56' rx='28' fill='%23B4000B'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21 34.9347C21 36.4746 22.6672 37.4368 24.0006 36.6664L36.0028 29.7318C37.3354 28.9619 37.3354 27.0383 36.0028 26.2684L24.0006 19.3338C22.6672 18.5634 21 19.5256 21 21.0655V34.9347Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_2014_502' x='-8' y='-8' width='72' height='72' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='4'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_2014_502'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_2014_502' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                right: 20px;
                margin-top: -28px;
                width: 56px;
                height: 56px;
            }
        }
    }
    &__name {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: vw(32);
        line-height: 100%;
        text-transform: uppercase;
        color: var(--black);
        @media all and (max-width: 1023px) {
            font-size: 30px;
        }
    }
    &__work {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: vw(16);
        line-height: 120%;
        color: var(--black);
        @media all and (max-width: 1023px) {
            font-size: 15px;
        }
    }
    .js_main_rev2 .block_rev__block {
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        padding: vw(32);
        box-shadow: 0 12px 44px 0 rgba(103, 119, 159, 0.08);
        background: var(--white);
        min-height: vw(350);
        @media all and (max-width: 1023px) {
            min-height: 350px;
            padding: 20px;
        }
    }
    &__tops {
        display: flex;
        margin-bottom: vw(24);
        align-items: center;
        width: 100%;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
        }
        &--img {
            font-size: 0;
            margin-right: vw(16);
            border-radius: 50%;
            overflow: hidden;
            width: vw(57);
            height: vw(57);
            flex: 0 0 vw(57);
            img {
                position: unset !important;
            }
            @media all and (max-width: 1023px) {
                width: 40px;
                height: 40px;
                flex: 0 0 40px;
                margin-right: 15px;
            }
        }
        &--inf {
            width: 100%;
        }
        &--name {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: vw(24);
            line-height: 110%;
            color: #25262a;
            @media all and (max-width: 1023px) {
                font-size: 24px;
            }
        }
        &--work {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: vw(16);
            color: var(--black);
            overflow: .8;
            @media all and (max-width: 1023px) {
                font-size: 15px;
            }
        }
        &--text {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: vw(16);
            line-height: 150%;
            color: var(--black);
            @media all and (max-width: 1023px) {
                font-size: 14px;
            }
        }
        &--btn {
            margin-top: auto;
            margin-right: auto;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: vw(16);
            line-height: 120%;
            color: var(--red);
            display: flex;
            align-items: center;
            @media all and (max-width: 1023px) {
                font-size: 15px;
            }
            &:after {
                width: vw(20);
                height: vw(20);
                margin-left: vw(12);
                content: '';
                display: block;
                background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2247 4.55806C11.4688 4.31398 11.8645 4.31398 12.1086 4.55806L17.1086 9.55806C17.3527 9.80214 17.3527 10.1979 17.1086 10.4419L12.1086 15.4419C11.8645 15.686 11.4688 15.686 11.2247 15.4419C10.9806 15.1979 10.9806 14.8021 11.2247 14.5581L15.1578 10.625H3.33333C2.98815 10.625 2.70833 10.3452 2.70833 10C2.70833 9.65482 2.98815 9.375 3.33333 9.375H15.1578L11.2247 5.44194C10.9806 5.19786 10.9806 4.80214 11.2247 4.55806Z' fill='%23B4000B' /%3E%3C/svg%3E") 50% / 100% no-repeat;
                @media all and (max-width: 1023px) {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                }
            }
        }
    }
}