@font-face {
	font-family: "RetniSans";
	font-display: swap;
	src: url("../fonts/RetniSans-Bold.woff2") format("woff2"), url("../fonts/RetniSans-Bold.woff") format("woff"), url("../fonts/RetniSans-Bold.ttf") format("ttf");
	font-weight: 700;
}
@font-face {
	font-family: "DAMN";
	font-display: swap;
	src: url("../fonts/DAMN.woff2") format("woff2"), url("../fonts/DAMN.woff") format("woff"), url("../fonts/DAMN.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "RetniSans";
	font-display: swap;
	src: url("../fonts/RetniSans-Light.woff2") format("woff2"), url("../fonts/RetniSans-Light.woff") format("woff"), url("../fonts/RetniSans-Light.ttf") format("ttf");
	font-weight: 300;
}
@font-face {
	font-family: "RetniSans";
	font-display: swap;
	src: url("../fonts/RetniSans-Medium.woff2") format("woff2"), url("../fonts/RetniSans-Medium.woff") format("woff"), url("../fonts/RetniSans-Medium.ttf") format("ttf");
	font-weight: 500;
}
@font-face {
	font-family: "RetniSans";
	font-display: swap;
	src: url("../fonts/RetniSans-Regular.woff2") format("woff2"), url("../fonts/RetniSans-Regular.woff") format("woff"), url("../fonts/RetniSans-Regular.ttf") format("ttf");
	font-weight: 400;
}
