.block_timer {
    padding-top: vw(48);
    @media all and (max-width: 1023px) {
        padding-top: 20px;
    }
    &__in {
        display: flex;
        justify-content: space-between;
        gap: vw(24);
        @media all and (max-width: 1023px) {
            flex-direction: column;
            gap: 20px;
        }
    }
    &__l-side {
        width: 50%;
        border-radius: 10px;
        padding: vw(48);
        background: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media all and (max-width: 1023px) {
            padding: 20px;
            width: 100%;
        }
    }
    &__title {
        margin-bottom: vw(24);
        font-family: var(--second-family);
        font-weight: 400;
        font-size: vw(82);
        line-height: 100%;
        text-transform: uppercase;
        color: var(--black);
        @media all and (max-width: 1023px) {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
    &__text {
        margin-bottom: vw(40);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: vw(18);
        line-height: 120%;
        color: var(--black);
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            font-size: 16px;
        }
    }
    &__timer {
        display: flex;
        justify-content: space-between;
        gap: vw(68);
        margin-bottom: vw(40);
        @media all and (max-width: 1023px) {
            gap: 40px;
            margin-bottom: 20px;
            justify-content: flex-start;
        }
        @media all and (max-width: 420px) {
            gap: 15px;
        }
        &--time {
            width: vw(137);
            text-align: center;
            position: relative;
            @media all and (max-width: 1023px) {
                max-width: 137px;
                width: 100%;
            }
            &:not(:last-child) {
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    width: vw(8);
                    height: vw(37);
                    margin-top: vw(-32);
                    background: url("data:image/svg+xml,%3Csvg width='8' height='37' viewBox='0 0 8 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_69_741)'%3E%3Cpath d='M2.18701 9.11095C1.08244 9.11095 0.187012 8.21552 0.187012 7.11095V2.41895C0.187012 1.31438 1.08244 0.418945 2.18701 0.418945H5.81301C6.91758 0.418945 7.81301 1.31438 7.81301 2.41895V7.11094C7.81301 8.21551 6.91758 9.11095 5.81301 9.11095H2.18701ZM2.18701 36.5809C1.08244 36.5809 0.187012 35.6855 0.187012 34.5809V29.8889C0.187012 28.7844 1.08244 27.8889 2.18701 27.8889H5.81301C6.91758 27.8889 7.81301 28.7844 7.81301 29.8889V34.5809C7.81301 35.6855 6.91758 36.5809 5.81301 36.5809H2.18701Z' fill='%23191B23' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_69_741'%3E%3Crect width='7.626' height='36.162' fill='white' transform='translate(0.187012 0.418945)' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 50% no-repeat;
                    right: vw(-36);
                    @media all and (max-width: 1023px) {
                        width: 8px;
                        height: 37px;
                        margin-top: -32px;
                        right: -26px;
                    }
                }
            }
            div {
                height: vw(150);
                margin-bottom: vw(12);
                border-radius: 10px;
                padding-top: vw(10);
                font-family: var(--second-family);
                font-weight: 400;
                font-size: vw(82);
                line-height: 100%;
                text-transform: uppercase;
                text-align: center;
                color: var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--black);
                @media all and (max-width: 1023px) {
                    height: 110px;
                    font-size: 60px;
                    padding: 0;
                    margin-bottom: 5px;
                    padding-top: 10px;
                }
            }
            span {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: vw(18);
                line-height: 120%;
                text-align: center;
                color: var(--black);
                @media all and (max-width: 1023px) {
                    font-size: 16px;
                }
            }
        }
    }
    &__btn {
        border: 0;
        cursor: pointer;
        outline: none;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: vw(16);
        text-transform: uppercase;
        width: 100%;
        background: var(--red);
        text-align: center;
        color: var(--white);
        border-radius: 10px;
        display: block;
        padding: vw(20) vw(32);
        &:hover {
            background: var(--black);
        }
        @media all and (max-width: 1023px) {
            padding: 20px;
            font-size: 16px;
        }
    }
    &__r-side {
        width: 50%;
        overflow: hidden;
        border-radius: 10px;
        @media all and (max-width: 1023px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}